/*index*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #000;
	font-family: 'Nunito', sans-serif;
}

#headerIndex{
    min-height: 45vh;
    background-color: #000;
    @media all and (max-width: 1400px){
        min-height: 50vh;
    }
}



#distincion{
    background-color: #fff;
    #imagenLogo{
        animation-duration: 1.2s;
        animation-name: aparecer;
        animation-iteration-count: 5s;
        @keyframes aparecer{
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
    #contenido{
        font-family: 'Barlow Condensed', sans-serif;
    }
}

#containerFotos{
    @include tamaño(medium){
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}       

#mixin{
        font-family: 'Barlow Condensed', sans-serif;
    }

#articulo{
    opacity: .7;
    @include link (white, black);
}

#reserva{
    opacity: .7;
    @include link (white, black);
}

#imagenUno{
    @extend %fotos;
}

#imagenDos{
    @extend %fotos;
}

#imagenTres{
    @extend %fotos;
}


#footer{
    background-color: #000;
	color: #fff;
    #datos{
        color: #fff;
        @include tamaño(medium){
            flex-direction: column;
        }
    }
}

#horarioLugar{
    color: (#fff);
    #tabla{
        border-spacing: 5rem;
        @include tamaño (medium){
            justify-content: center;
            align-items: center;
        }
        .table{
            color: #fff;
        }
    } 
}

#card{
    #cardMixin{
        @include link (#000, #fff);
    }
}


/*formularios*/
#distincionFormularios{
    #btnForm{
        opacity: .7;
        @include link (white, black);
    }
    #tituloCardForm{
        @extend %titulos;
    }
    .tituloDosForm{
        font-family: 'Barlow Condensed', sans-serif;
    }
    background-color: #fff;
    color: #000;
    #comunicarteFormularios{
        min-height: 50vh;
    }
    #trabajosFormularios{
        min-height: 50vh;
        #instaFormularios{
            @extend %instaGeneral;
        }
    }
}

/*sobremi*/
#headerSob{
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
}

#headerDosSob{
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
}
#reservaSob{
    background-color: #fff;
    color: #000;
    opacity: .7;
    &:hover{
        opacity: .5;
    }
}

#distincionSob{
    background-color: #fff;
    color: #000;
    #containerGridSob{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "uno dos"
        ". tres" ;
        @media all and (max-width: 575px){
            grid-template-areas:
            "uno"
            "dos"
            "tres" ;
        }
    }
    #sobUno{
        grid-area: uno;
    }
    #sobDos{
        grid-area: dos;
    }
    #sobTres{
        grid-area: tres;
    }
}
  



/*estudio/portfolio*/
#headerEst{
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
}
#headerDosEst{
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
}

#distincionEstudio{
    background-color: #fff;
    color: #000;
    #imgPort{
        transition: 0.5s;
        object-fit: cover;
        &:hover {
            transform: scale(.9); 
        }
    }
    #imgPort{
        transition: 0.5s;
        object-fit: cover;
        &:hover {
            transform: scale(.9); 
        }
    }
    #imgPortDos{
        transition: 0.5s;
        object-fit: cover;
        &:hover {
            transform: scale(.9); 
        }
    }
    #imgPortTres{
        transition: 0.5s;
        object-fit: cover;
        &:hover {
            transform: scale(.9); 
        }
    }
    #imgPortCuatro{
        transition: 0.5s;
        object-fit: cover;
        &:hover {
            transform: scale(.9); 
        }
    }
    #imgPortCinco{
        transition: 0.5s;
        object-fit: cover;
        &:hover {
            transform: scale(.9); 
        }
    }
    #imgPortSeis{
        transition: 0.5s;
        object-fit: cover;
        &:hover {
            transform: scale(.9); 
        }
    }
    #textoEsDos{
        min-height: 50vh;
    }
    #instaEstudio{
        @extend %instaGeneral;
    }

}

/*cuidados*/

#headerCui{
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
}

#distincionCui{
    background-color: #fff;
    color: #000;
    #infoCui{
        .row{
            margin-left: 0;
            margin-right: 0;
        }
        .row>*{
            flex-shrink: 2;
        }
        @include tamaño (large){
            display: flex;
            flex-direction: column;
        }
        #tituloCui{
            @extend %titulos;
        }
        #tituloDosCui{
            @extend %titulos;
        }
        #tituloTresCui{
            @extend %titulos;
        }
        #tituloCuatroCui{
            @extend %titulos;
        }
    }
    #instaCui{
        @extend %instaGeneral;
    }
}


#horarioLugarCuidados{
    color: #fff;
    @include tamaño (large){
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*trabajos*/

#headerTrabajos{
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
}
#headerDosTrabajos{
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
}

#distincionTrabajos{
    background-color: #fff;
    color: #000;
    #instaTrabajos{
        @extend %instaGeneral;
    }
}

/*tips*/

#distincionTips{
    background-color: #fff;
    color: #000;
    #contenidoTips{
        @include tamaño (large){
            width: 75%;
        }
        #tituloTips{
            font-family: 'Barlow Condensed', sans-serif;
            font-weight: 300;
        }
        #tituloTipsDos{
            font-family: 'Barlow Condensed', sans-serif;
            font-weight: 300;
    
        }    
    }
    #visitaTips{
        #tituloTipsTres{
            font-family: 'Barlow Condensed', sans-serif;
        }
        #tipsTatuajes{
            @extend %titulos;
        }
        #tipsAreas{
            @extend %titulos;
        }
        #tipsGuia{
            @extend %titulos;
        }
    }
    #cardTips{
        @extend %titulos;
    }    
    
}

#instaTips{
    @extend %instaGeneral;
}

/*areas*/

#distincionAreas{
    background-color: #fff;
    color: #000;
    #tituloAreas{
        font-family: 'Barlow Condensed', sans-serif;
    }
    #tituloUnoAreas{
        font-family: 'Barlow Condensed', sans-serif;
    }
    #tituloDosAreas{
        font-family: 'Barlow Condensed', sans-serif;
    }
    #tituloTresAreas{
        font-family: 'Barlow Condensed', sans-serif;
    }
    #tituloCuatroAreas{
        font-family: 'Barlow Condensed', sans-serif;
    }
    #tituloCincoAreas{
        font-family: 'Barlow Condensed', sans-serif;
    }
    #tituloSeisAreas{
        font-family: 'Barlow Condensed', sans-serif;
    }
    #visitaAreas{
        #tituloAreasSiete{
            font-family: 'Barlow Condensed', sans-serif;
        }
        #areasTatuajes{
            @extend %titulos;
        }
        #areasTips{
            @extend %titulos;
        }
        #areasGuia{
            @extend %titulos;
        }
        
    }
    #cardsAreas{
        @extend %titulos;
    }
    #cardsAreasDos{
        @extend %titulos;
    }
    #cardsAreasTres{
        @extend %titulos;
    }
}

/*tatuajes*/

#distincionTatuajes{
    background-color: #fff;
    color: #000;
    #visitaTatuajes{
        font-family: 'Barlow Condensed', sans-serif;
        #tatuajesTips{
            @extend %titulos;
        }
        #tatuajesAreas{
            @extend %titulos;
        }
        #tatuajesGuia{
            @extend %titulos;
        }
    }
    #cardsTatuajesGral{
        #cardsTatuajes{
            @extend %titulos;
        }
        #cardsTatuajesDos{
            @extend %titulos;
        }
        #cardsTatuajesTres{
            @extend %titulos;
        } 
    }
}
    

/*guia*/

#distincionGuia{
    background-color: #fff;
    color: #000;
    #visita{   
        font-family: 'Barlow Condensed', sans-serif;
        #guiaTips{
            @extend %titulos;
        }
        #guiaAreas{
            @extend %titulos;
        }
        #guiaTatuajes{
            @extend %titulos;
        }
    }
    #cardsGuia{
        @extend %titulos;
    }
    #cardsGuiaDos{
        @extend %titulos;
    }
    #cardsGuiaTres{
        @extend %titulos;
    }
}