@mixin link ($color, $background-color) {
    color: $color;
    font-family: 'Barlow Condensed', sans-serif;
    background-color: $background-color;
    &:hover{
        opacity: 1;
    }
    
}

@mixin tamaño ($breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)){
        @content;
    }
}
