@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300&display=swap");
/*index*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Nunito', sans-serif;
}

#headerIndex {
  min-height: 45vh;
  background-color: #000;
}

@media all and (max-width: 1400px) {
  #headerIndex {
    min-height: 50vh;
  }
}

#distincion {
  background-color: #fff;
}

#distincion #imagenLogo {
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: 5s;
          animation-iteration-count: 5s;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#distincion #contenido {
  font-family: 'Barlow Condensed', sans-serif;
}

@media (max-width: 991px) {
  #containerFotos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#mixin {
  font-family: 'Barlow Condensed', sans-serif;
}

#articulo {
  opacity: .7;
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  background-color: black;
}

#articulo:hover {
  opacity: 1;
}

#reserva {
  opacity: .7;
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  background-color: black;
}

#reserva:hover {
  opacity: 1;
}

#footer {
  background-color: #000;
  color: #fff;
}

#footer #datos {
  color: #fff;
}

@media (max-width: 991px) {
  #footer #datos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#horarioLugar {
  color: #fff;
}

#horarioLugar #tabla {
  border-spacing: 5rem;
}

@media (max-width: 991px) {
  #horarioLugar #tabla {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#horarioLugar #tabla .table {
  color: #fff;
}

#card #cardMixin {
  color: #000;
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #fff;
}

#card #cardMixin:hover {
  opacity: 1;
}

/*formularios*/
#distincionFormularios {
  background-color: #fff;
  color: #000;
}

#distincionFormularios #btnForm {
  opacity: .7;
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  background-color: black;
}

#distincionFormularios #btnForm:hover {
  opacity: 1;
}

#distincionFormularios .tituloDosForm {
  font-family: 'Barlow Condensed', sans-serif;
}

#distincionFormularios #comunicarteFormularios {
  min-height: 50vh;
}

#distincionFormularios #trabajosFormularios {
  min-height: 50vh;
}

/*sobremi*/
#headerSob {
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
}

#headerDosSob {
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
}

#reservaSob {
  background-color: #fff;
  color: #000;
  opacity: .7;
}

#reservaSob:hover {
  opacity: .5;
}

#distincionSob {
  background-color: #fff;
  color: #000;
}

#distincionSob #containerGridSob {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "uno dos" ". tres";
}

@media all and (max-width: 575px) {
  #distincionSob #containerGridSob {
        grid-template-areas: "uno" "dos" "tres";
  }
}

#distincionSob #sobUno {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: uno;
}

#distincionSob #sobDos {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: dos;
}

#distincionSob #sobTres {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: tres;
}

/*estudio/portfolio*/
#headerEst {
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
}

#headerDosEst {
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
}

#distincionEstudio {
  background-color: #fff;
  color: #000;
}

#distincionEstudio #imgPort {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}

#distincionEstudio #imgPort:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#distincionEstudio #imgPort {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}

#distincionEstudio #imgPort:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#distincionEstudio #imgPortDos {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}

#distincionEstudio #imgPortDos:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#distincionEstudio #imgPortTres {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}

#distincionEstudio #imgPortTres:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#distincionEstudio #imgPortCuatro {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}

#distincionEstudio #imgPortCuatro:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#distincionEstudio #imgPortCinco {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}

#distincionEstudio #imgPortCinco:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#distincionEstudio #imgPortSeis {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}

#distincionEstudio #imgPortSeis:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#distincionEstudio #textoEsDos {
  min-height: 50vh;
}

/*cuidados*/
#headerCui {
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
}

#distincionCui {
  background-color: #fff;
  color: #000;
}

#distincionCui #infoCui .row {
  margin-left: 0;
  margin-right: 0;
}

#distincionCui #infoCui .row > * {
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

@media (max-width: 993px) {
  #distincionCui #infoCui {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#horarioLugarCuidados {
  color: #fff;
}

@media (max-width: 993px) {
  #horarioLugarCuidados {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*trabajos*/
#headerTrabajos {
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
}

#headerDosTrabajos {
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
}

#distincionTrabajos {
  background-color: #fff;
  color: #000;
}

/*tips*/
#distincionTips {
  background-color: #fff;
  color: #000;
}

@media (max-width: 993px) {
  #distincionTips #contenidoTips {
    width: 75%;
  }
}

#distincionTips #contenidoTips #tituloTips {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
}

#distincionTips #contenidoTips #tituloTipsDos {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
}

#distincionTips #visitaTips #tituloTipsTres {
  font-family: 'Barlow Condensed', sans-serif;
}

/*areas*/
#distincionAreas {
  background-color: #fff;
  color: #000;
}

#distincionAreas #tituloAreas {
  font-family: 'Barlow Condensed', sans-serif;
}

#distincionAreas #tituloUnoAreas {
  font-family: 'Barlow Condensed', sans-serif;
}

#distincionAreas #tituloDosAreas {
  font-family: 'Barlow Condensed', sans-serif;
}

#distincionAreas #tituloTresAreas {
  font-family: 'Barlow Condensed', sans-serif;
}

#distincionAreas #tituloCuatroAreas {
  font-family: 'Barlow Condensed', sans-serif;
}

#distincionAreas #tituloCincoAreas {
  font-family: 'Barlow Condensed', sans-serif;
}

#distincionAreas #tituloSeisAreas {
  font-family: 'Barlow Condensed', sans-serif;
}

#distincionAreas #visitaAreas #tituloAreasSiete {
  font-family: 'Barlow Condensed', sans-serif;
}

/*tatuajes*/
#distincionTatuajes {
  background-color: #fff;
  color: #000;
}

#distincionTatuajes #visitaTatuajes {
  font-family: 'Barlow Condensed', sans-serif;
}

/*guia*/
#distincionGuia {
  background-color: #fff;
  color: #000;
}

#distincionGuia #visita {
  font-family: 'Barlow Condensed', sans-serif;
}

#distincionFormularios #tituloCardForm, #distincionCui #infoCui #tituloCui, #distincionCui #infoCui #tituloDosCui, #distincionCui #infoCui #tituloTresCui, #distincionCui #infoCui #tituloCuatroCui, #distincionTips #visitaTips #tipsTatuajes, #distincionTips #visitaTips #tipsAreas, #distincionTips #visitaTips #tipsGuia, #distincionTips #cardTips, #distincionAreas #visitaAreas #areasTatuajes, #distincionAreas #visitaAreas #areasTips, #distincionAreas #visitaAreas #areasGuia, #distincionAreas #cardsAreas, #distincionAreas #cardsAreasDos, #distincionAreas #cardsAreasTres, #distincionTatuajes #visitaTatuajes #tatuajesTips, #distincionTatuajes #visitaTatuajes #tatuajesAreas, #distincionTatuajes #visitaTatuajes #tatuajesGuia, #distincionTatuajes #cardsTatuajesGral #cardsTatuajes, #distincionTatuajes #cardsTatuajesGral #cardsTatuajesDos, #distincionTatuajes #cardsTatuajesGral #cardsTatuajesTres, #distincionGuia #visita #guiaTips, #distincionGuia #visita #guiaAreas, #distincionGuia #visita #guiaTatuajes, #distincionGuia #cardsGuia, #distincionGuia #cardsGuiaDos, #distincionGuia #cardsGuiaTres {
  color: #000;
  font-family: 'Barlow Condensed', sans-serif;
}

#distincionFormularios #tituloCardForm:hover, #distincionCui #infoCui #tituloCui:hover, #distincionCui #infoCui #tituloDosCui:hover, #distincionCui #infoCui #tituloTresCui:hover, #distincionCui #infoCui #tituloCuatroCui:hover, #distincionTips #visitaTips #tipsTatuajes:hover, #distincionTips #visitaTips #tipsAreas:hover, #distincionTips #visitaTips #tipsGuia:hover, #distincionTips #cardTips:hover, #distincionAreas #visitaAreas #areasTatuajes:hover, #distincionAreas #visitaAreas #areasTips:hover, #distincionAreas #visitaAreas #areasGuia:hover, #distincionAreas #cardsAreas:hover, #distincionAreas #cardsAreasDos:hover, #distincionAreas #cardsAreasTres:hover, #distincionTatuajes #visitaTatuajes #tatuajesTips:hover, #distincionTatuajes #visitaTatuajes #tatuajesAreas:hover, #distincionTatuajes #visitaTatuajes #tatuajesGuia:hover, #distincionTatuajes #cardsTatuajesGral #cardsTatuajes:hover, #distincionTatuajes #cardsTatuajesGral #cardsTatuajesDos:hover, #distincionTatuajes #cardsTatuajesGral #cardsTatuajesTres:hover, #distincionGuia #visita #guiaTips:hover, #distincionGuia #visita #guiaAreas:hover, #distincionGuia #visita #guiaTatuajes:hover, #distincionGuia #cardsGuia:hover, #distincionGuia #cardsGuiaDos:hover, #distincionGuia #cardsGuiaTres:hover {
  color: #680368;
}

#imagenUno, #imagenDos, #imagenTres {
  margin: 20px;
  border: 5px solid #eee;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#imagenUno:hover, #imagenDos:hover, #imagenTres:hover {
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

#distincionFormularios #trabajosFormularios #instaFormularios, #distincionEstudio #instaEstudio, #distincionCui #instaCui, #distincionTrabajos #instaTrabajos, #instaTips {
  font-family: 'Lobster Two', cursive;
  color: #000;
}

#distincionFormularios #trabajosFormularios #instaFormularios:hover, #distincionEstudio #instaEstudio:hover, #distincionCui #instaCui:hover, #distincionTrabajos #instaTrabajos:hover, #instaTips:hover {
  color: #680368;
}
/*# sourceMappingURL=estilos.css.map */